<nav class="navbar navbar-expand-lg  sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand f26x fB head" href="#">Laundry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fN" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" aria-current="page" href="/neworder">Create Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/savepannel">Save Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/washing">Washing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/ironing">Ironing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/packing">Packing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/delivery">Delivery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/invoice">Invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/deliveryhistory">Delivery History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" href="/dailyexpenses">Expense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fN" aria-current="page" href="/customerhistory">Customer History</a>
        </li>
 <li class="nav-item">
          <a class="nav-link fN" aria-current="page" href="/settings">settings</a>
        </li>
        <li class="nav-item">
          <input type="text" [(ngModel)]="searchText" placeholder="Search Bill number ">
          <button (click)="search()">Search</button>
        </li>
        <li class="nav-item">
          <div *ngFor="let order of dateOrdersmnth" >
            <h4>Search Results: {{order.status}}</h4>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <a class="btn btn-danger rounded-pill px-4 fw-bold shadow-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Logout
        </a>
      </div>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>