<app-header></app-header>
<section class="py-5">
    <!-- <h1 class="text-center wd-title">Delivery history</h1> -->
    <div class="bg-white col-lg-8 offset-lg-2 mb-2 rounded d-flex justify-content-between align-items-center gap-2 p-3">
        <div class="d-flex gap-2 align-items-center">
            <h1 class="wd-title m-0">Delivery history</h1>
            <!-- <button class="btn btn-sm btn-outline-primary" (click)="toggleSelectAll()">
            {{ selectAllChecked ? 'Unselect All' : 'Select All' }}
        </button> -->
            <!-- <button class="btn btn-primary py-1 px-2 d-flex gap-1 cursorP" (click)="toggleSelectAll()">
                <input type="checkbox" class="" [checked]="selectAllChecked" />
                <small class="text-white">Select All</small>
            </button> -->
        </div>
        <!-- <button *ngIf="selectedOrders.length" class="btn btn-primary btn-sm py-2 px-2" (click)="bulkUpdate()">Delivered</button> -->
    </div>
    <div class="">
        <div class="">
            <div class="col-lg-8 offset-lg-2">
                <div class="d-flex justify-content-center py-5" *ngIf="isLoading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <ng-container *ngIf="!isLoading">
                    <div *ngIf="orders?.length === 0" class="text-center text-muted py-4 fB center">
                        No orders found.
                    </div>
                    <div class="table-container">
                        <table class="table table-striped table-hover" style="border: none !important">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" (click)="selectAll($event)"/></th>
                                    <th>S.No</th>
                                    <th>Customer</th>
                                    <th>Bill</th>
                                    <th>Mobile</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody
                                *ngFor="let order of orders|paginate:{itemsPerPage:limit, currentPage: page, totalItems:totalItems}; let index=index">
                                <tr class="text-center">
                                    <td style="border: none">
                                        <input type="checkbox" [checked]="selected.includes(order._id)" (select)="handleSelect(order._id)"/>
                                    </td>
                                    <td style="border: none">{{index+1}}</td>
                                    <td style="border: none">{{order.customerId.name}}</td>
                                    <td style="border: none">{{order.bill}}</td>
                                    <td style="border: none">{{order.customerId.mobile}}</td>
                                    <td style="border: none">{{order.date | date: "dd/MM/YYYY"}}</td>
                                    <td style="border: none">
                                        <div class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" class="cursorP" (click)="deleteOrder(order._id)"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                                            </path>
                                        </svg>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="10" [directionLinks]="true"
                            [autoHide]="true">
                        </pagination-controls>
                    </div>
                </ng-container>
            </div>

            <!-- example -->
        </div>

    </div>
</section>